# Python / Django Backend
#enviroment and env files
backend/env
backend/.mikufile

#pycaches
backend/imSystem/ims_backend/__pycache__/
backend/imSystem/ims_backend/migrations/__pycache__/
backend/imSystem/backend_config/__pycache__


#sqlites
backend/imSystem/db.sqlite3

#static files
backend/staticfiles/

########FIN BACKEND###########

# Node / Expo
mobile/node_modules/
mobile/.expo/
mobile/dist/

# Env files
**/.env
!**/.env.example

# OS
.DS_Store
Thumbs.db
